language: node_js
sudo: required  # See http://docs.travis-ci.com/user/trusty-ci-environment/
dist: trusty
node_js:
  - "lts/*"
before_install:
  - unset _JAVA_OPTIONS  # JVM heap sizes break closure compiler. #11203.
script: npm run test
branches:
  only:
    - master
cache:
  directories:
    - node_modules